.HeaderContainer{
    width: 100%;
    height: 70vh;
    /* background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%); */
    background-color: rgb(105, 9, 195);
}
.nav_wrapper{
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    
}
.logo{
    font-weight: 700;
    color: #fff;
    font-size: 35px;
}
.header_btn{
    padding: 0.8rem 1.2rem;
    border: none;
    outline: none;
    background-image: linear-gradient(to top, #e2a1fe 0%, #c4c9c4 100%);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 0.6rem;
    border: 1px solid #dd8eff;
    letter-spacing: 0.2px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.6s;
}
.header_btn:hover{
    transform: translateY(-4px);
}
.Heading_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.6rem;
}
.Heading_title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #fff;
}
.Heading_desc{
    max-width: 600px;
    text-align: center;
    color: #fff;
}
.Heading_section form{
    margin-top: 3rem;
    display: flex;
    align-items: center;
}
.Heading_section form input{
    width: 360px;
    height: 36px;
    border: 1px solid #dd8eff;
    padding: 22px;
}
.Heading_section form button{
    width: 120px;
    height: 44px;
    border: 1px solid #dd8eff;
    background-image: linear-gradient(to top, #e2a1fe 0%, #c4c9c4 100%);
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    position: relative;
  overflow: hidden;
}
.Heading_section form button::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6);
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: ripple 0.6s linear;
  }
  
  @keyframes ripple {
    0% {
      opacity: 0.6;
      transform: scale(0);
    }
    100% {
      opacity: 0;
      transform: scale(4);
    }
  }