.blogCard{
    width: 300px;
    height: fit-content;
    padding: 15px;
    border: 1px solid #828282;
    border-radius: 0.6rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    transition: 0.6s;
}
.blogCard:hover{
    transform: translateY(-4px);
    border: 1px solid #d064ff;
}
.blog_image{
    width: 100%;
    height: 60%;
    border-radius: 0.6rem;
}
.blogCategory{
    margin-top: 20px;
    padding: 6px 16px;
    border: 1px solid #dd8eff;
    background-image: linear-gradient(to top, #e2a1fe 0%, #c4c9c4 100%);
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    border-radius: 0.6rem;
}
.blogContent{
    margin-top: 10px;
}
.blogCard .blogContent h5{
    font-weight: 500;
    font-size: 16px;
    color: #212121;
}
.blogCard .blogContent p{
    font-weight: 300;
    font-size: 14px;
    color: #1e1e1e;
    margin: 12px 0;
}
.readmoreBtn{
    border: 1px solid #ad70c7;
    background: #fff;
    /* background-image: linear-gradient(to top, #e2a1fe 0%, #c4c9c4 100%); */
    font-weight: 500;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 0.6rem;
    cursor: pointer;
}
.readmoreBtn:hover{
    background-image: linear-gradient(to top, #e2a1fe 0%, #c4c9c4 100%);
}